</div></div>
<div class="shadow"></div>
<footer>

</footer>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="http://developer.lomiri.com/wp-content/themes/wordpress-theme-lomirideveloper/js/base.js"></script>\n"
